# Global ignores
.DS_Store
*.swp
*.swo
*.log
*.bak
*.tmp
*~
.idea/
.vscode/
.env
.env.local
.env.development
.env.test
.env.production
node_modules/
dist/
build/
out/
*.min.js

# Backend (Spring Boot)
backend/.gradle/
backend/build/
backend/bin/
backend/.settings/
backend/.project
backend/.classpath
backend/*.iml
backend/*.ipr
backend/*.iws
**/SecurityExtension.java

# Database
*.db
*.sqlite
/dbdata/

# Docker
docker-compose.override.yml
*.dockerignore
*.tar.gz

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
