# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Yarn Berry (Zero-installs not used)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn-integrity

# Testing & Coverage
coverage/
*.lcov
.nyc_output/
.maestro/output
.maestro/recordings
.maestro/*.mp4

# Expo & Web
.expo/
dist/
web-build/
expo-env.d.ts
app-example

# Metro & Bundles
.metro-health-check*
*.jsbundle
*.bundle
*.map

# Native & Builds
/android
/ios
*.apk
*.aab
*.ipa
*.xcarchive
.kotlin/
*.orig.*

# Environment & Secrets
.npmrc
.env
.env*.local
.env.development
.env.test
.env.production
!.env.example
credentials.json
.eas/
*.keystore
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Local Database
*.db
*.sqlite
*.sqlite3
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# TypeScript & Cache
*.tsbuildinfo
.turbo/
.cache/

# Debug & Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*~
